.component-container {
  background: #ddceeb5b;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  min-width: 500px;
}

.block {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.label-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(218, 165, 32, 0.5);
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: darkcyan;
  width: 130px;
  height: 50px;
  border-radius: 6px;
}
.container-box {
  width: 75%;
  margin: 0 auto;
  height: 275;
  background-color: #89a8dc;
  border-radius: 6px;
  box-shadow: 3px black;
  padding: 20px;
}

#three select {
  background: #333;
  color: goldenrod;
  border-radius: 6px;
  font-size: 15px;
  overflow: hidden;
}

.select-box,
.select-box-2 {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.select-box .options-container,
.select-box-2 .options-container-2,
.select-box-2 .options-container-3,
.select-box-2 .options-container-4,
.select-box-2 .options-container-5,
.select-box-2 .options-container-6,
.select-box-2 .options-container-7,
.select-box-2 .options-container-8 {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected,
.selected-2,
.selected-3,
.selected-4,
.selected-5,
.selected-6,
.selected-7,
.selected-8 {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after,
.selected-2::after,
.selected-3::after,
.selected-4::after,
.selected-5::after,
.selected-6::after,
.selected-7::after,
.selected-8::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active,
.select-box-2 .options-container-2.active,
.select-box-2 .options-container-3.active,
.select-box-2 .options-container-4.active,
.select-box-2 .options-container-5.active,
.select-box-2 .options-container-6.active,
.select-box-2 .options-container-7.active,
.select-box-2 .options-container-8.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

.select-box .options-container.active + .selected::after,
.select-box-2 .options-container-2.active + .selected-2::after,
.select-box-2 .options-container-3.active + .selected-3::after,
.select-box-2 .options-container-4.active + .selected-4::after,
.select-box-2 .options-container-5.active + .selected-5::after,
.select-box-2 .options-container-6.active + .selected-6::after,
.select-box-2 .options-container-7.active + .selected-7::after,
.select-box-2 .options-container-8.active + .selected-8::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar,
.select-box-2 .options-container-2::-webkit-scrollbar,
.select-box-2 .options-container-3::-webkit-scrollbar,
.select-box-2 .options-container-4::-webkit-scrollbar,
.select-box-2 .options-container-5::-webkit-scrollbar,
.select-box-2 .options-container-6::-webkit-scrollbar,
.select-box-2 .options-container-7::-webkit-scrollbar,
.select-box-2 .options-container-8::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb,
.select-box-2 .options-container-2::-webkit-scrollbar-thumb,
.select-box-2 .options-container-3::-webkit-scrollbar-thumb,
.select-box-2 .options-container-4::-webkit-scrollbar-thumb,
.select-box-2 .options-container-5::-webkit-scrollbar-thumb,
.select-box-2 .options-container-6::-webkit-scrollbar-thumb,
.select-box-2 .options-container-7::-webkit-scrollbar-thumb,
.select-box-2 .options-container-8::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.select-box-2 .option-2,
.select-box-2 .option-3,
.select-box-2 .option-4,
.select-box-2 .option-5,
.select-box-2 .option-6,
.select-box-2 .option-7,
.select-box-2 .option-8,
.selected,
.selected-2,
.selected-3,
.selected-4,
.selected-5,
.selected-6,
.selected-7,
.selected-8 {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover,
.select-box-2 .option-2:hover,
.select-box-2 .option-3:hover,
.select-box-2 .option-4:hover,
.select-box-2 .option-5:hover,
.select-box-2 .option-6:hover,
.select-box-2 .option-7:hover,
.select-box-2 .option-8:hover {
  background: #414b57;
}

.select-box label,
.select-box-2 label {
  cursor: pointer;
}

.select-box .option .radio,
.select-box-2 .option-2 .radio,
.select-box-2 .option-3 .radio,
.select-box-2 .option-4 .radio,
.select-box-2 .option-5 .radio,
.select-box-2 .option-6 .radio,
.select-box-2 .option-7 .radio,
.select-box-2 .option-8 .radio {
  display: none;
}

/* Searchbox */

.search-box input,
.search-box-2 input,
.search-box-3 input,
.search-box-4 input,
.search-box-5 input,
.search-box-6 input,
.search-box-7 input,
.search-box-8 input {
  width: 100%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: absolute;
  border-radius: 8px 8px 0 0;
  z-index: 100;
  border: 8px solid #2f3640;

  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.search-box input:focus,
.search-box-2 input:focus,
.search-box-3 input:focus,
.search-box-4 input:focus,
.search-box-5 input:focus,
.search-box-6 input:focus,
.search-box-7 input:focus,
.search-box-8 input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input,
.select-box-2 .options-container-2.active ~ .search-box-2 input,
.select-box-2 .options-container-3.active ~ .search-box-3 input,
.select-box-2 .options-container-4.active ~ .search-box-4 input,
.select-box-2 .options-container-5.active ~ .search-box-5 input,
.select-box-2 .options-container-6.active ~ .search-box-6 input,
.select-box-2 .options-container-7.active ~ .search-box-7 input,
.select-box-2 .options-container-8.active ~ .search-box-8 input {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 800px) {
  .label-name {
    width: 80px;
    height: 50px;
    font-size: 0.65rem;
  }

  .component-container {
    min-width: 400px;
  }
  .container-box {
    padding: 10px;
    font-size: 0.7rem;

  }
}

@media screen and (max-width: 600px) {
  .label-name {
    width: 70px;
    height: 40px;
    font-size: 0.6rem;
  }

  .component-container {
    min-width: 400px;
  }

  .container-box {
    padding: 7px;
        font-size: 0.65rem;

  }
}

@media screen and (max-width: 400px) {
  .label-name {
    width: 60px;
    height: 35px;
    font-size: 0.5rem;
  }

  .component-container {
    min-width: 250px;
  }
  .container-box {
    padding: 5px;
    font-size: 0.6rem;

  }
}
