<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="name-list" data-name="{{name_list}}" />
    <meta id="type-list" data-name="{{type_list}}" />
    <meta id="price-list" data-name="{{price_list}}" />
    <meta id="rate-list" data-name="{{rate_list}}" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <script src="../static/js/search_copy.js"></script> -->
    <link rel="stylesheet" href="..{{ app_domain }}/static/css/base.css" />
    {% block head %} {% endblock%}
  </head>

  <body id="full">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('app_bp.home') }}">PC Builder</a>

        <div class="" id="navbarCollapse">
          <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item active mx-1">
              <a class="nav-link" href="{{ url_for('app_bp.home') }}"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
           
            <li class="nav-item dropdown mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Data
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('app_bp.data') }}" target="_blank">JSON</a>
                <a class="dropdown-item" href="{{ url_for('app_bp.table') }}">Components Table</a>
                <a class="dropdown-item" href="{{ url_for('app_bp.order_table') }}">Orders Table</a>
              </div>
            </li>
          </ul>
        </div>

      
      </nav>
    </header>

    <img src="..{{ app_domain }}/static/images/ccmainbanner-1.jpg" alt="" />

    <main role="main">
      <div class="container">
        <br />
        <br />
        <br />
        {% block body %} {% endblock%}
      </div>
    </main>

    <h1>{{x}}</h1>

    <footer class="footer mt-auto">
      <nav class="navbar-expand-sm bottom navbar-light bg-light py-4">
        <div class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>
            &copy; 2017-2020 Company, Inc. &middot;
            <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
          </p>
        </div>
      </nav>
    </footer>

    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $("input#search").on("input", function (e) {
          text_input = $("input#search").val();
          console.log(text_input);
        });

        $("a#search-submit").click(function (e) {
          e.preventDefault();
          text_input = $("input#search").val();
          //console.log(text_input);
          console.log("clicked");
          //document.body.innerHTML = res;
          $.ajax({
            method: "post",
            url: "/search",
            data: { text: text_input },
            success: function (res) {
              //console.log(res);
              //window.location.href = "/search"

              document.body.innerHTML = res;
            },
          });
        });
      });
    </script>
  </body>
</html>
